.client__name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 97);
}
.breadcrumb-item {
  font-weight: bold;
}

.row {
  font-weight: 600;
  color: rgb(96, 96, 97);
}

.btn__style_save {
  background-color: rgb(59, 143, 70);
  color: white;
  font-weight: 500;
  transition: transform 1s;
}
.btn__style_save:hover {
  background-color: rgb(68, 184, 83);
  color: white;
  top: 2px;
  transform: scale(1.1);
}
.btn__style_list {
  background-color: rgb(211, 214, 8);
  color: white;
  font-weight: 600;
  transition: transform 1s;
}
.btn__style_list:hover {
  background-color: rgb(185, 185, 29);
  top: 3px;
  transform: scale(1.1);
}

.alert-success {
  display: flex;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgba(154, 216, 165, 0.836);
}

.alert-danger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-item {
  font-size: 17px;
}
