.client__name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(96, 96, 97);
}
.breadcrumb-item {
  font-weight: bold;
}

.row {
  font-weight: 600;
  color: rgb(96, 96, 97);
}

.btn__style {
  background-color: rgb(184, 228, 190);
  color: rgba(18, 13, 32, 0.342);
  transition: transform 1s;
  margin-top: 10px;
}
.btn__style:hover {
  background-color: rgb(154, 190, 159);
  font-weight: 600;
  top: 2px;
  transform: scale(1.1);
}

.alert-success {
  display: flex;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgba(154, 216, 165, 0.836);
}
.alert-danger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumb-item {
  font-size: 17px;
}
