<div class="text-center">
  <h2 class="mt-4 client__name">Users</h2>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consult List</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="alert alert-success" role="alert" *ngIf="messageSuccess">
        {{ messageSuccess }}
      </div>
      <div
        class="alert alert-danger text-center"
        role="alert"
        *ngIf="messageError"
      >
        {{ messageError }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning mb-3" (click)="newRegisterUser()">
        <i class="fa fa-plus"></i> New
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condesed table-hover">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.cpf }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.creationDate }}</td>
            <td>
              <button
                class="btn btn-primary"
                routerLink="/users/form/{{ user.id }}"
              >
                <i class="fa fa-pen"></i>
              </button>
              <button
                (click)="prepareDeletion(user)"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#modalDeletion"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDeletion" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmation</h4>
        </div>
        <div class="modal-body" *ngIf="userSelected">
          Confirm the deletion of the user {{ userSelected.username }} ?
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-success"
            (click)="deleteUser()"
            data-dismiss="modal"
          >
            Confirm
          </button>
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
