/* .container {
  background: rgba(97, 94, 94, 0.39);
} */

.btn_style {
  transition: transform 0.6s;
}
.btn_style:hover {
  font-weight: 600;
  top: 3px;
  transform: scale(1.1);
}

.card-header {
  background-color: rgba(138, 71, 201, 0.555);
  color: white;
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card-body {
  color: rgb(85, 85, 90);
  background-color: rgb(223, 205, 238);
}
.link_style {
  color: rgba(255, 0, 0, 0.644);
}
.btn_login {
  background-color: rgba(223, 19, 114, 0.534);
  color: white;
}

.btn-cancel {
  background-color: rgba(196, 162, 11, 0.534);
  color: white;
}

.system_control_style {
  font-family: "Times New Roman", serif;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(184, 55, 115, 0.534) transparent
  );
  background-image: linear-gradient(to bottom, rgb(206, 108, 173), transparent);

  color: rgb(241, 237, 237);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  font-size: 14px;
  background-color: rgb(241, 238, 238);
}
.small {
  font-size: 15px;
  color: rgba(223, 19, 114, 0.534);
  font-weight: 600;
}
