<div class="container md-12 text-center system_control_style">
  <h1>SYSTEM CONTROL</h1>
</div>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="car shadow border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Sign Up</h3>
              </div>
              <div class="card-body">
                <div class="alert alert-success" *ngIf="successMessage">
                  {{ successMessage }}
                </div>
                <div class="alert alert-danger" *ngFor="let error of errors">
                  {{ error.userMessage }}
                </div>
                <div class="alert alert-danger" *ngIf="errorViolation">
                  {{ errorViolation }}
                </div>
                <form #signupForm="ngForm" (submit)="onSubmit()">
                  <div class="form-group">
                    <label class="small mb-2">
                      <i class="fa fa fa-user mr-1"></i>
                      Username</label
                    >
                    <input
                      type="text"
                      class="form-control py-4"
                      [(ngModel)]="user.username"
                      name="username"
                      autocomplete="off"
                      placeholder="Register your username"
                    />
                  </div>
                  <div class="form-group">
                    <label class="small mb-2">
                      <i class="fa fa-lock mr-1"></i>
                      E-mail</label
                    >
                    <input
                      type="text"
                      class="form-control py-4"
                      name="email"
                      [(ngModel)]="user.email"
                      placeholder="Register your email"
                    />
                  </div>
                  <div class="form-group">
                    <label class="small mb-2">
                      <i class="fa fa-lock mr-1"></i>
                      CPF</label
                    >
                    <input
                      type="text"
                      class="form-control py-4"
                      name="cpf"
                      [(ngModel)]="user.cpf"
                      placeholder="Register your CPF, numbers only"
                    />
                  </div>

                  <div class="form-group">
                    <label class="small mb-2">
                      <i class="fa fa-lock mr-1"></i>
                      Password</label
                    >
                    <input
                      type="password"
                      class="form-control py-4"
                      name="password"
                      [(ngModel)]="user.password"
                      placeholder="Register your password, 8 characters minimum"
                    />
                  </div>
                  <div
                    class="form-group align-items-center justify-content-between mt-4 mb-0"
                  >
                    <div class="text-center">
                      <button type="button" class="btn btn_style btn_login">
                        Register
                      </button>
                      <button
                        type="button"
                        (click)="unsubscribe()"
                        class="btn btn-cancel btn_style ml-2"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
