<h1 class="mt-4 text-center">Home</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Welcome</li>
</ol>
<div class="container">
  <div>
    <img
      class="img-fluid"
      src="https://www.scnsoft.com/blog-pictures/sharepoint/contract-management-new/sharepoint-dms-best-practices.png"
      alt=""
    />
  </div>
  <div class="button_style">
    <div>
      <button class="btn" routerLink="/service-provided/list">
        Search for services provided
      </button>
    </div>
    <div>
      <button class="btn" routerLink="/clients/list">
        Check your client list
      </button>
    </div>
    <div>
      <h5>
        Buy our software and organize your company's budgets and customers
      </h5>
    </div>
  </div>
</div>
