<div class="text-center">
  <h1 class="mt-4">Service Provided</h1>
</div>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item" active>New</li>
</ol>
<div class="container row_style">
  <form #form="ngForm" (submit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div
          class="alert alert-success text-center"
          role="alert"
          *ngIf="success == true"
        >
          Service provided successfully saved
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngFor="let erro of errors"
        >
          {{ erro.userMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Client: </label>
          <select
            class="form-control"
            [(ngModel)]="serviceProvided.clientId"
            [ngModelOptions]="{ standalone: true }"
          >
            <option value="">Select...</option>
            <option *ngFor="let client of clients" [ngValue]="client.id">
              {{ client.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Description:</label>
          <input
            class="form-control"
            [(ngModel)]="serviceProvided.description"
            type="text"
            name="description"
            id="description"
          />
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Price:</label>
          <input
            class="form-control"
            [(ngModel)]="serviceProvided.price"
            type="text"
            name="price"
            id="price"
          />
        </div>
      </div>
    </div>
    <div class="row text-center mt-2">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success btn_style">
          <i class="fa fa-save"></i>
          Save
        </button>
        <button
          type="button"
          routerLink="/service-provided/list"
          class="btn btn-warning btn_style ml-3"
        >
          <i class="fa fa-search"></i>
          Search
        </button>
      </div>
    </div>
  </form>
</div>
